// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$color-layout-10: #DBEEFC;

$color-main-50: #00D092;

$color-main-50-light: #DBF8F0;

$color-main-30: #F6FFED;

$color-helper-10: #D9D9D9;

$color-blue-daybreak: #E6F7FF;

$color-blue-20: #91d5ff;

$color-blue-daybreak-10: #1890FF;

$color-red-danger-10: #f63135;

$color-yellow-warning-10: #ffcf37;

$color-dark: #000000;

$color-dark-10: #211F1F;

$color-dark-20: #333333;

$color-dark-30: #5F5F5F;

$color-gray: #BDBDBD;

$color-gray-10: #929292;

$color-gray-20: #B8B8B8;

$color-grey-30: #828282;

$color-grey-40: #4f4f4f;

$color-light: #FFFFFF;

$color-light-10: #F8F7F7;

$font-standard-size: 14px;

$font-medium-size: 16px;

$font-standard-weight: 400;
